<h3>Transaction details</h3>
<form #idform=ngForm (ngSubmit)=getTransaction(idform) >

  <div class="col-7" >
  <label>Account Id</label>
  <input type="number" name="accountId"   ngModel class="form-control">
</div>
<span style="position:absolute; margin-left: 20px; margin-top: 10px;">
  
  <input type="submit" value="Submit" class="btn btn-success">
</span>
</form>
<br>
<br>
<div *ngIf="transaction!==undefined">
Transaction id is {{transaction.transactionId }}
<br>
account id  is {{transaction.accountId}}     
<br>
amount is {{transaction.amount}}
<br>
new balance is{{transaction.newBalance}}
<br>
type is {{transaction.type}}
<br>
