<h3>Account details</h3>
<form #myform=ngForm (ngSubmit)=findAccount(myform) >

    <div class="form-group">
    <label>accountId</label>
    <input type="number" name="accountId"   ngModel class="form-control">
    </div>
    <input type="submit" value="Search" class="btn btn-success">
</form>
  <br>
  
  <div *ngIf="account!==undefined">
    
    accountId is {{account.accountId}}
    userBalance is {{account.accountBalance}}
    status is {{account.status}}
    userId is {{account.userId}}

  <br>
 
  </div>